.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.not-found-image {
  height: 500px;
  width: 500px;
}

.not-found-heading {
  color: #475569;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 45px;
}

.not-found-description {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 400;
}
